tensorflow
transformers
moviepy
faster-whisper
collections
sentencepiece
flask==2.3.3
moviepy==1.0.3
faster-whisper==0.9.0
torch==2.1.2
torchaudio==2.1.2
numpy==1.26.4
ffmpeg-python==0.2.0
scikit-image==0.22.0
imageio==2.33.1
tqdm==4.66.2
